{% extends 'core/base.html' %}
{% load static %}

{% block header %}
    About 
{% endblock header %}

{% block main %}
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'core/img/alvaro.jpeg' %}" alt="..." />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">About me</h2>
                <p class="lead fw-normal text-muted mb-0">Soy un profesional dedicado y orientado a los detalles, con más de 8 años de experiencia en operaciones de negocio dentro de entornos de startups. Me especializo en el crecimiento 
                    y la eficiencia operativa, liderando estrategias para optimizar el rendimiento. Cuento con un título en Administración de Empresas y un posgrado en Finanzas. He trabajado en roles clave en empresas como Beat App, 
                    Rappi, y actualmente en NinjaOne como Data Specialist.</p>
                
                <!-- LinkedIn Button -->
                <a href="https://www.linkedin.com/in/alvarocancino/" class="btn btn-primary mt-3" target="_blank">
                    <strong>LinkedIn</strong>
                </a>
                <!-- Github Button -->
                <a href="https://github.com/alvaro3dd" class="btn btn-dark mt-3" target="_blank">
                    <strong>Github</strong>


                </a>
            </div>
        </div>
    </div>
</section>
{% endblock main %}
