

<div style="margin-bottom: 2%; 
            display: flex; justify-content: center;
            gap: 1%; background-color: rgb(21, 87, 8);">
    <button>
        <a href="{% url 'core:index' %}">🏠Home</a>
        {% if user.is_authenticated %}
        <button>
            <a href="{% url 'productos:index' %}">Productos</a>
        </button>

        
        <a href="{% url 'core:profile' %}"> <button>{{ user.username }}</button></a>
       
        
        <form action="{% url 'core:logout' %}" method="post"> 
            {% csrf_token %} <button type="submit">Logout</button> </form>
            
        {% else %}
        <a href="{% url 'core:login' %}"> <button>Login</button></a>
        
        {% endif %}

   
</div>
